* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(images/bg.jpg);
	background-size: cover;
	font-family: poppins;
}

.todo-wrap {
	background-color: white;
	width: 700px;
	height: auto;
	border-radius: 15px;
	margin: 0 auto;	
	text-align: center;
	background-color: #f4f4f4;
	padding: 5px 0 20px 0;
}

.fa-list-check {
	display: flex;
	font-size: 40px;
	color: #191970;
	justify-items: left;
	margin: 60px 0 20px 50px;
}

.title {
	display: flex;
	justify-content: center;	
}

.line {
	border-bottom: 2px solid #7393B3;
	width: 195px;
	margin-bottom: 75px;
}

h1 {
	background-color: #f4f4f4;
	color: #191970;
	font-size: 45px;
	text-align: center;
	padding: 0 34px 0 34px;
}

.pending-wrap h2 {
	color: orange;
	font-size: 30px;
	text-align: left;
	margin-left: 50px;
}

.finished-wrap h2 {
	color: green;
	font-size: 30px;
	text-align: left;
	margin-left: 50px;
}

ul,
ol {
	margin-left: 50px;
	font-weight: bold;
}

li {
	text-align: left;
	font-weight: bold;
	list-style-type: none;
	padding-top: 10px;
}

.taskText {
	font-weight: 400;
}

.list-text {
	color: #7393B3;
}

.finished-wrap {
	height: auto;
}

.delbtn {
	margin-left: 20px;
	color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: red;
  font-weight: bold;
  text-align: center;
  font-family: poppins;
}

.editbtn {
	color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: #191970;
  font-weight: bold;
  text-align: center;
  font-family: poppins;
}

input[type=checkbox] {
	margin-right: 20px;
	color: #191970;
}

input[type=text],
input[type=datetime-local] {
  width: 250px;
  height: 35px;
  border: none;
	border-bottom: 2px solid #191970;
  color: #191970;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f4f4f4;
 	font-weight: 400;
 	font-size: 18px;
}

::placeholder {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  top: 17px;
  left: 20px;
}

.add-task-btn {
	margin-left: 20px;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: #191970;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: poppins;
}

.mod-task {
	margin-left: 38px;
	padding: 15px 0 15px 0;
}

li {
	background: #f4f4f4;
}

li:nth-child(odd) {
		background: white;
}

.timeWrap {
	margin-left: 38px;

}